@model IEnumerable<MyWeb.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.C_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_CellPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_AC_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.C_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C_CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C_AC_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C_Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C_Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
