@model MyWeb.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meal</h4>
    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.R_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.M_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.M_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.M_InFo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.M_InFo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.M_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.M_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.M_ImgFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.M_ImgFile)
        </dd>
    </dl>*@
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.MID">Edit</a> |*@
    <a asp-action="Index" asp-route-name="@ViewBag.Name">Back to List</a>
</div>
