@model MyWeb.Models.Meal

@{
    ViewData["Title"] = "Details";
}


<h1>Meal</h1>
<div>
    <h4>Infomation</h4>
    <hr />
    <form>
        <div class="row">
            <div class="col-7">
                <dl class="row">

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.R_Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.R_Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.M_Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.M_Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.M_InFo)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.M_InFo)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.M_Price)
                    </dt>
                    <dd class="col-sm-9">
                        $@Html.DisplayFor(model => model.M_Price)
                    </dd>
                    
                    <dt class="col-sm-3">
                        訂購數量
                    </dt>
                    <dd class="col-sm-9">
                        1
                    </dd>
                    <dt></dt>
                    <dd></dd>
                    <dt></dt>
                    <dd></dd>
                    <dt></dt>
                    <dd></dd>
                    <dt class="col-sm-2">
                        <input id="myTest" type="button" class="btn btn-facebook" value="+1" />
                    </dt>
                    <dd class="col-sm-5">
                        <a asp-action="IndexCustomers" asp-controller="Meals" asp-route-name="@ViewBag.Name" class="btn btn-dribbble">Back</a>
                    </dd>
                </dl>
            </div>
            <div class="col-5">
                <dl>
                    <dt>
                        <img class="imgbig" src="../../images/Meals/@Model.M_ImgFile" alt="Alternate Text" />
                    </dt>
                </dl>
            </div>
        </div>
    </form>
</div>
<input id="hidName" type="hidden" value="@Html.DisplayFor(model => model.M_Name)" />





<!--<div>-->
    @*<a asp-action="Edit" asp-route-id="@Model.MID">Edit</a> |*@
    
<!--</div>-->

@section Styles{ 
    <style>
        h1 {
            text-shadow: 1px 1px 2px white;
            color: cornflowerblue;
        }
        dt {
            font-size: 2em;
            text-shadow: 1px 1px 2px blue;
            /*color: aquamarine;*/
        }
        dd {
            font-size: 2em;
            color: antiquewhite;
        }
            dd:hover {
                color:white;
            }
            dt:hover{
                color:aqua;
            }
        .imgbig {
            border-radius:10px;
            width: 500px;
        }
            .imgbig:hover {
                width: 600px;
                transition: transform 0.25s ease;
            }
    </style>
}
@section Scripts{
    <script>
        $(function () {
            $("#myTest").click(function () {
                var myName = $("#hidName").val();
                
                $.ajax({
                    url: `@Url.Action("myAddCart", "Meals")?name=${myName}`,
                    async: false,
                    success: function (result) {
                        //console.log(result.r_Name);
                        location.href = `/Meals/IndexCustomers?name=${result.r_Name}`;
                    },
                    error: function (error) {
                        alert("error");
                    }
                });
            });
        });
    </script>
}